<template>
    <q-layout view="lHh lpR fFf">
        <q-header class="bg-primary text-white">
            <q-toolbar>
                <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

                <q-toolbar-title>
                    <q-avatar>
                        <img
                            src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg"
                        />
                    </q-avatar>
                    Vue Quasar
                </q-toolbar-title>
            </q-toolbar>
        </q-header>

        <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
            <q-list>
                <q-item-label header> Essential Links </q-item-label>

                <EssentialLink
                    v-for="link in linksList"
                    :key="link.title"
                    v-bind="link"
                />
            </q-list>
        </q-drawer>

        <q-page-container>
            <router-view />
        </q-page-container>
    </q-layout>
</template>

<script setup>
import EssentialLink from "src/components/EssentialLink.vue";
import { reactive } from "vue";
import { ref } from "vue";

const leftDrawerOpen = ref(false);
const linksList = reactive([
    {
        title: "Docs",
        caption: "quasar.dev",
        icon: "eva-book-outline",
        link: "https://quasar.dev",
    },
    {
        title: "Github",
        caption: "github.com/andikaPs",
        icon: "eva-github-outline",
        link: "https://github.com/andikaPs",
    },
]);

const toggleLeftDrawer = () => {
    leftDrawerOpen.value = !leftDrawerOpen.value;
};
</script>
